<div class="my-5 form-group">
<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content, class: "form-control" %>
  <%= f.input :rating, class: "form-control" %>
  <%= f.submit "Send review", class: "btn btn-primary" %>
<% end %>
</div>